

/*body {
  opacity: 0.9;
  background-image: url("https://hd.unsplash.com/photo-1457090673666-0e205962d75c");
  opactiy: 0.5;
}*/
#gitmaster {
  margin-bottom: 0px;
}

.table-narrow {
  max-width: 35%;

}

.table>tbody>tr>td {
  padding: 2px;
  width: 100px;
}
